

.clients{
    display: flex;
    gap: 30px;
    justify-content: center;
}

.clients__link {
    @extend %align;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    fill: #afb1b8;
    transition: border-color var(--transmition-time) var(--transition-function),
        fill var(--transmition-time) var(--transition-function);

    &:hover,
    &:focus {
        border-color: var(--axent-colour);
        fill: var(--axent-colour);
    }
}

@media screen and (max-width: 767px) {
    .clients{
        flex-wrap: wrap;
    }
.clients__link{
    width: 210px;
}
}
@media screen and (min-width: 768px) {
    .clients {
        flex-wrap: wrap;
    }

    .clients__link {
        width: 226px;
    }
}
@media screen and (min-width: 1200px){
    .clients__link{
        width: 170px;

}
}