:root {
    --primary-font-color: #212121;
    --secondary-font-color: #757575;
    --white-font-color: #ffffff;
    --axent-colour: #2196f3;
    --light-background-colol: #f5f4fa;
    --white-background-colol: #ffffff;
    --primary-font: "Roboto", sans-serif;
    --normal-font: 400;
    --medium-font: 500;
    --bold-font: 700;
    --transmition-time: 250ms;
    --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}